<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3><%= material%></h3>

      <p>Material</p>
    </div>
    <div class="icon">
      <i class="ion ion-settings"></i>
    </div>
  </div>
</div>