<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3><%= pengembang %></h3>

      <p>User terverifikasi</p>
    </div>
    <div class="icon">
      <i class="ion ion-person-stalker"></i>
    </div>
  </div>
</div>