<!-- Modal Update Product-->
<form action="/admin/pasir/create" method="POST">
  <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <div class="modal-header"
          style="background-color:#00c851 ; border-top-left-radius: 10px; border-top-right-radius: 10px; color: #ffffff;">
          <heading class="modal-title" id="exampleModalLabel">Tambah Pasir</heading>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nama :</label>
            <input type="text" id="nama" name="nama" class="form-control" placeholder="Masukan Nama Batako" required>
          </div>
          <div class="form-group">
            <label>Jumlah :</label>
            <input type="number" id="jumlah" name="jumlah" class="form-control" value="1" disabled required>
          </div>

          <div class="form-group">
            <label>Satuan</label>
            <select required id="SatuanId" name="SatuanId" class="form-control">
              <option value="">--- Pilih Satuan Barang ---</option>
              <% for (let i = 0; i < satuan.length; i++ ) { %>
              <option value="<%= satuan[i].id %>"><%= satuan[i].nama_satuan %></option>
              <% } %>
            </select>
          </div>

          <div class="form-group">
            <label>Harga :</label>
            <input type="number" id="harga" name="harga" class="form-control" placeholder="Masukan Harga Batako"
              required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
        </div>
      </div>

    </div>
  </div>
  </div>
</form>
<script>
  $(document).ready(function () {
    // datatable
    $('#satuan').DataTable()
  })

</script>