<!-- Modal Update Product-->
<form action="/admin/semen/edit" method="post">
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <div class="modal-header"
          style="background-color:#e08e0b; border-top-left-radius: 10px; border-top-right-radius: 10px; color: #ffffff;">
          <heading class="modal-title" id="exampleModalLabel">Edit Pasir</heading>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" class="id" required name="id">
          <div class="form-group">
            <label>Nama :</label>
            <input type="text" id="nama" name="nama" class="form-control nama" placeholder="Masukan Nama" required>
          </div>
          <div class="form-group">
            <label>Berat :</label>
            <input type="number" id="berat" name="berat" class="form-control berat" required>
          </div>
          <div class="form-group">
            <label>Jumlah :</label>
            <input type="number" id="jumlah" name="jumlah" class="form-control jumlah" disabled required>
          </div>
          <div class="form-group">
            <label>Satuan</label>
            <select required id="SatuanId" name="SatuanId" class="form-control SatuanId">
              <option value="">--- Pilih Satuan Barang ---</option>
              <% for (let i = 0; i < satuan.length; i++ ) { %>
              <option value="<%= satuan[i].id %>"><%= satuan[i].nama_satuan %></option>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label>Harga :</label>
            <input type="number" id="harga" name="harga" class="form-control harga" placeholder="Masukan Harga"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
          </div>
        </div>
      </div>
    </div>
</form>