<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h3><%= pengembang2%></h3>

      <p>User belum terverifikasi</p>
    </div>
    <div class="icon">
      <i class="ion ion-ios-bell"></i>
    </div>
  </div>
</div>