<!-- Modal Update Product-->
<form action="/admin/jenis/edit" method="post">
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <div class="modal-header"
          style="background-color:#e08e0b; border-top-left-radius: 10px; border-top-right-radius: 10px; color: #ffffff;">
          <heading class="modal-title" id="exampleModalLabel">Edit Satuan</heading>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" class="id" required name="id">
          <div class="form-group">
            <label>Nama Jenis :</label>
            <input type="text" id="nama_jenis" name="nama_jenis" class="form-control nama_jenis"
              placeholder="Masukan Nama Jenis" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
          </div>
        </div>
      </div>
    </div>
</form>